
/*******************************************************************************
* Default |
*********/

header {
  //------------------------- Color & Background
  background-color: #fff;
  color: #fff;
  //------------------------- Box
  height: 50px;
  width: 100%;
  margin: 0;
  //------------------------- Positioning
  position: relative;
  //------------------------- Effect
  box-shadow: 0 2px 5px rgba(#000, 0.5);
}

.header_-_logo {
  //------------------------- Color & Background
  color: #000;
  //------------------------- Box
  height: inherit;
  width: 250px;
  //------------------------- Positioning
  position: relative;
  float: left;
  display: inline-block;

  h3 {
    margin: 10px 10px 0;
    float: left;
  }
}

.header_-_logo_--_breadcrumbs {
  //------------------------- Box
  height: inherit;
  width: 65%;
  //------------------------- Positioning
  float: left;
  display: inline-block;
}

.header_-_logo_--_breadcrumbs_---_double-arrow h4 {
  //------------------------- Box
  margin-top: 12px;
  //------------------------- Positioning
  float: left;
  //------------------------- Effect
  transform: rotate(90deg) scale(2);


}

.header_-_logo_--_breadcrumbs_---_page h4 {
  //------------------------- Box
  margin-top: 11px;
  margin-left: 15px;
  //------------------------- Positioning
  float: left;

}

.header_-_nav {
  //------------------------- Color & Background
  color: inherit;
  //------------------------- Box
  height: inherit;
  width: 350px;
  //------------------------- Positioning
  float: right;

  ul {
    display: inline-block;
  }

  li {
    float: left;
    display: inline-block;
  }

  a {
    line-height: 3rem;
    padding: 10px;
  }
}

.header_-_nav li:first-child a {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.header_-_nav li:last-child a {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header_-_nav a:hover {
  background-color: #59b6f3;
  color: #fff;
}

.header_-_nav a {
  transition: background-color 500ms;
}




// Animation -------------------------------------------------------------------

// Active ----------------------------------------------------------------------

.active {
  background-color: #59b6f3;
  color: #fff;
}

// Hover -----------------------------------------------------------------------

// Layouts ---------------------------------------------------------------------

