/**
* Example of property order and category naming convention for comment
********************************************************************************
* .class {
*  //------------------------- Font & Text
*    text-align: val;
*    text-shadow: val;
*  //------------------------- Color & Background
*    background-color: val;
*    color: val;
*    opacity: val;
*  //------------------------- Box
*    height: val;
*    width: val;
*    border-radius: val;
*  //------------------------- Positioning
*    position: absolute;
*    bottom: 0;
*  //------------------------- List
*    property: val;
*  //------------------------- Table
*    property: val;
*  //------------------------- Miscellaneous
*    property: val;
*  //------------------------- Effect
*    property: val;
* }
*/

/*******************************************************************************
* Default |
*********/

@import "../smacss/smacss.smcs";

:host {

}

//header {
//  height: 50px;
//  width: 100%;
//
//  position: relative;
//  background-color: #FFF;
//  color: white;
//  margin: 0;
//  box-shadow: 0px 2px 5px rgba(black, 0.5);
//
//  //padding: 10px;
//
//}
//
//
//.header_-_logo {
//  position: relative;
//  height: inherit;
//  width: 250px;
//  //display: block;
//  display: inline-block;
//  //background-color: red;
//  float: left;
//  //padding-top: 10px;
//  color: black;
//  //text-align: left;
//
//  h3 {
//    //text-align: center;
//    margin: 10px 10px 0 10px;
//    float: left;
//  }
//
//  //::after {
//  //  @include pseudo();
//  //  clear: both;
//  //}
//}
//
//.header_-_logo_--_breadcrumbs {
//  display: inline-block;
//  float: left;
//  //background-color: yellow;
//  height: inherit;
//  width: 65%;
//  //width:
//}
//
//.header_-_logo_--_breadcrumbs_---_double-arrow h4 {
//    float: left;
//    transform: rotate(90deg) scale(2);
//    margin-top: 12px;
//}
//
//.header_-_logo_--_breadcrumbs_---_page h4 {
//    margin-top: 11px;
//    margin-left: 15px;
//    float: left;
//}
//
//.header_-_nav {
//  height: inherit;
//  width: 500px;
//  float: right;
//  color: inherit;
//  background-color: yellow;
//
//  ul {
//    display: inline-block;
//  }
//
//  li {
//    padding-left: 10px;
//    padding-right: 10px;
//    display: inline-block;
//    float: left;
//  }
//
//  a {
//    background-color: #00bcd4;
//    padding: 18px;
//    line-height: 3rem;
//    //margin-top: 15px;
//  }
//}

.container {
  display: block;
  height: 350px;
  width: 50%;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 5px rgba(black, 0.5);
  margin: 100px auto;
  //overflow: auto;
  overflow: hidden;


  &--sample-data {
    width: 85%;
    height: 550px;
    margin: 30px auto;
  }

  &--extra-credit {
    width: 90%;
    overflow: hidden;
    margin: 30px auto;
  }
}

//.container_-_header {
//  background-color: #E3F2FD;
//  height: 40px;
//  width: 100%;
//  color: black;
//  padding-top: 7px;
//  padding-left: 15px;
//
//  h4 {
//
//  }
//}

.container_-_body {
  position:relative;
  //overflow: auto;
  //display: block;
  //height: 510px;
  height: inherit;
  width: 100% !important;

}

.container_-_footer {
  background-color: #3d5afe;
  width: 100%;
  height: 100%;
  padding: 5px 0 0 10px;
}

.container_-_footer_--_fiter-rows {
  select {
    width: 100px;
    border-radius: 10px;
  }
}

//table {
//  //margin-top: 10px;
//  //margin-left: 8px;
//}
//
//th {
//  text-align: left;
//  //border-bottom: 3px solid #2962FF;
//}
//
//table,
//th {
//  border-collapse: collapse;
//}
//
//th {
//  //min-width: 200px;
//  padding-left: 5px;
//  padding-right: 5px;
//}

// Utils
//.w-50 {
//  min-width: 50px;
//}
//
//.w-100 {
//  min-width: 100px;
//}
//
//.w-150 {
//  min-width: 150px;
//}
//
//.w-200 {
//  min-width: 200px;
//}
//
//.w-250 {
//  min-width: 250px;
//}



//.container--sample-data {
//  width: 85%;
//}
//
//.container--extra-credit {
//  width: 90%;
//}




// Animation -------------------------------------------------------------------
.container {
  transition: width 1s, height 1s, margin 1s;
}

// Active ----------------------------------------------------------------------

// Hover -----------------------------------------------------------------------

// Layouts ---------------------------------------------------------------------


/*******************************************************************************
* XS |
****/

//@include mq('xs') {
//
//}


/*******************************************************************************
* SM |
****/

//@include mq('sm') {
//
//}


/*******************************************************************************
* MD |
****/

//@include mq('md') {
//
//}


/*******************************************************************************
* LG |
****/

//@include mq('lg') {
//
//}
