/**
* Example of property order and category naming convention for comment
********************************************************************************
* .class {
*  //------------------------- Font & Text
*    text-align: val;
*    text-shadow: val;
*  //------------------------- Color & Background
*    background-color: val;
*    color: val;
*    opacity: val;
*  //------------------------- Box
*    height: val;
*    width: val;
*    border-radius: val;
*  //------------------------- Positioning
*    position: absolute;
*    bottom: 0;
*  //------------------------- List
*    property: val;
*  //------------------------- Table
*    property: val;
*  //------------------------- Miscellaneous
*    property: val;
*  //------------------------- Effect
*    property: val;
* }
*/
/*******************************************************************************
* Default |
*********/
@import '../smacss/smacss.smcs';

//:host {
//
//}

.container {
//------------------------- Color & Background
  background-color: #fff;
//------------------------- Box
  height: 350px;
  width: 50%;
  border-radius: 8px;
  margin: 100px auto;
//------------------------- Positioning
  display: block;
//------------------------- Miscellaneous
  overflow: hidden;
//------------------------- Effect
  box-shadow: 0 2px 5px rgba(#000, 0.5);

  &--sample-data {
  //------------------------- Box
    height: 550px;
    width: 85%;
    margin: 30px auto;
  }

  &--extra-credit {
  //------------------------- Box
    height: auto;
    width: 90%;
    margin: 30px auto;
  //------------------------- Miscellaneous
    overflow: hidden;
  }
}

.container_-_body {
//------------------------- Box
  height: inherit;
  width: 100%;
//------------------------- Positioning
  position: relative;
}

.container_-_footer {
//------------------------- Color & Background
  background-color: #3d5afe;
//------------------------- Box
  height: 100%;
  width: 100%;
  padding: 5px 0 0 10px;
}

.container_-_footer_--_fiter-rows select {
  width: 100px;
  border-radius: 10px;
}

// Animation -------------------------------------------------------------------
.container {
  transition: width 1s, height 1s, margin 1s;
}

// Active ----------------------------------------------------------------------

// Hover -----------------------------------------------------------------------

// Layouts ---------------------------------------------------------------------

/*******************************************************************************
* XS |
****/

@include mq('xs') {

}

/*******************************************************************************
* SM |
****/

@include mq('sm') {

}

/*******************************************************************************
* MD |
****/

@include mq('md') {

}

/*******************************************************************************
* LG |
****/

@include mq('lg') {

}
