/**
* Example of property order and category naming convention for comment
********************************************************************************
* .class {
*  //------------------------- Font & Text
*    text-align: val;
*    text-shadow: val;
*  //------------------------- Color & Background
*    background-color: val;
*    color: val;
*    opacity: val;
*  //------------------------- Box
*    height: val;
*    width: val;
*    border-radius: val;
*  //------------------------- Positioning
*    position: absolute;
*    bottom: 0;
*  //------------------------- List
*    property: val;
*  //------------------------- Table
*    property: val;
*  //------------------------- Miscellaneous
*    property: val;
*  //------------------------- Effect
*    property: val;
* }
*/

/*******************************************************************************
* Default |
*********/

@import "../smacss/smacss.smcs";

:host {

}

header {
  height: 50px;
  width: 100%;

  position: relative;
  background-color: blue;
  color: white;
  margin: 0;
  //padding: 10px;

}


.header_-_logo {
  position: relative;
  height: inherit;
  width: 80px;
  display: block;
  background-color: red;




  float: left;

  h3 {
    text-align: center;
    margin: auto 7px;
  }

  //::after {
  //  @include pseudo();
  //  clear: both;
  //}
}

.header_-_nav {
  height: inherit;
  //width: 80px;
  float: right;
  color: inherit;
  background-color: yellow;

  ul {
    display: inline-block;
  }

  li {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    float: left;
  }

  a {
    background-color: #00bcd4;
    padding: 18px;
    line-height: 3rem;
    //margin-top: 15px;
  }
}

.container {
  display: block;
  height: 550px;
  width: 50%;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 5px rgba(black, 0.5);
  margin: 30px auto;
  overflow: auto;


  &--sample-data {
    width: 85%;
  }

  &--extra-credit {
    width: 90%;
  }
}

.container_-_header {
  background-color: #E3F2FD;
  height: 40px;
  width: 100%;
  color: black;
  padding-top: 7px;
  padding-left: 7px;

  h4 {

  }
}

.container_-_body {
  //overflow: auto;
  //display: block;

}

//.container--sample-data {
//  width: 85%;
//}
//
//.container--extra-credit {
//  width: 90%;
//}




// Animation -------------------------------------------------------------------
.container {
  transition: width 2s;
}

// Active ----------------------------------------------------------------------

// Hover -----------------------------------------------------------------------

// Layouts ---------------------------------------------------------------------


/*******************************************************************************
* XS |
****/

//@include mq('xs') {
//
//}


/*******************************************************************************
* SM |
****/

//@include mq('sm') {
//
//}


/*******************************************************************************
* MD |
****/

//@include mq('md') {
//
//}


/*******************************************************************************
* LG |
****/

//@include mq('lg') {
//
//}
