
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px 16px;
}

th {
  position: sticky;
  top: 0;
  //background: #BBDEFB;
  background: #64B5F6;
  //color: white
}


td {
  border-bottom: 2px solid #E0E0E0;
}


// Utils
.w-50 {
  min-width: 50px;
}

.w-100 {
  min-width: 100px;
}

.w-150 {
  min-width: 150px;
}

.w-200 {
  min-width: 200px;
}

.w-250 {
  min-width: 250px;
}
