
.container_-_footer {
  background: #ededed;
  width: 100%;
  max-height: 45px;
  display: block;
  user-select: none;
}

.container_-_footer_--_filter-rows {
  display: inline-block;
  width: 25%;
  height: 45px;
  padding: 9px 0 0 10px;

  select {
    border-radius: 4px;
  }
}

.container_-_footer_--_pagination {
  width: 75%;
  max-height: 45px !important;
  position: relative;
  float: right;
  display: flex;
  justify-content: flex-end;
}

.first-page,
.last-page,
.next-page,
.previous-page {
  height: 45px;
  display: inline-block;
  position: relative;
  text-align: left;
  cursor: pointer;

  h3 {
    padding-top: 8px;
  }
}

.first-page {
  width: 95px;
}

.previous-page {
  width: 130px;

  .double-arrow-left {
    padding-left: 3px;
  }
}

.next-page {
  padding-left: 10px;
  position: relative;
  width: 80px;

  h3 {
    float: left;
  }
}

.last-page {
  padding-left: 10px;
  width: 100px;
  float: right;

  h3 {
    float: left;
    margin-right: -10px;
  }

  h4 {
    height: 0;
    width: 0;
    margin: -2px 0 0 11px;
  }
}

.double-arrow-left {
  color: black;
  display: inline;
  padding: 6px;
  margin: 8px 0 0 15px;

  h4 {
    margin: 0;
    line-height: 0.5em;
  }
}

.arrow-right {
  color: black;
  display: block;
  position: absolute;
  left: 40px;
  top: 6px;
  transform: rotate(90deg) scale(2);

}

.double-arrow-left {
  float: left;
  transform: rotate(-90deg) scale(2);
}

.double-arrow-right {
  transform: rotate(90deg) scale(2);
  position: absolute;
  display: inline;

  h4 {
    width: 10px;
    height: 10px;
    line-height: 0;
  }
}

.pages {
  height: 45px;
  width: auto;
  float: left;
  padding-top: 8px;
}

.num-one,
.num-two,
.num-three,
.num-four,
.num-five {
  display: inline-block;
  padding: 0 8px;
}

.num-one,
.num-five {
  opacity: 0.5;
  transform: scale(0.8);
}

.num-three {
  background-color: #64B5F6;
  color: white;
  height: 28px;
  border-radius: 8px;
  padding-bottom: 8px;
}

.isDisabled {
  color: #C1C1C1;

  h4 {
    color: #C1C1C1;
  }
}
