/*******************************************************************************
* Default |
*********/

.container_-_footer {
  //------------------------- Color & Background
  background-color: #ededed;
  //------------------------- Box
  max-height: 45px;
  width: 100%;
  //------------------------- Positioning
  display: block;
  user-select: none;
}

.container_-_footer_--_filter-rows {
  //------------------------- Box
  height: 45px;
  width: 25%;
  padding: 9px 0 0 10px;
  //------------------------- Positioning
  display: inline-block;

  select {
    border-radius: 4px;
  }
}

.container_-_footer_--_pagination {
  //------------------------- Box
  max-height: 45px !important;
  width: 75%;
  position: relative;
  float: right;
  //------------------------- Positioning
  display: flex;
  justify-content: flex-end;
}

.first-page,
.last-page,
.next-page,
.previous-page {
  //------------------------- Font & Text
  text-align: left;
  //------------------------- Box
  height: 45px;
  //------------------------- Positioning
  position: relative;
  display: inline-block;
  //------------------------- Miscellaneous
  cursor: pointer;

  h3 {
    padding-top: 8px;
  }
}

.first-page {
  width: 95px;
}

.previous-page {
  width: 130px;

  .double-arrow-left {
    padding-left: 3px;
  }
}

.next-page {
  width: 80px;
  position: relative;

  h3 {
    float: left;
  }
}

.last-page {
  //------------------------- Box
  width: 100px;
  padding-left: 10px;
  //------------------------- Positioning
  float: right;

  h3 {
    margin-right: -10px;
    float: left;
  }

  h4 {
    //------------------------- Box
    height: 0;
    width: 0;
    margin: -2px 0 0 11px;
  }
}

.double-arrow-left {
  //------------------------- Color & Background
  color: #000;
  //------------------------- Box
  margin: 8px 0 0 15px;
  padding: 6px;
  //------------------------- Positioning
  display: inline;

  h4 {
    line-height: 0.5em;
    margin: 0;
  }
}

.arrow-right {
  //------------------------- Color & Background
  color: #000;
  //------------------------- Positioning
  position: absolute;
  top: 6px;
  left: 40px;
  display: block;
  //------------------------- Miscellaneous
  transform: rotate(90deg) scale(2);
}

.double-arrow-left {
  float: left;
  transform: rotate(-90deg) scale(2);
}

.double-arrow-right {
  //------------------------- Positioning
  position: absolute;
  display: inline;
  //------------------------- Miscellaneous
  transform: rotate(90deg) scale(2);

  h4 {
    //------------------------- Font & Text
    line-height: 0;
    //------------------------- Box
    height: 10px;
    width: 10px;
  }
}

.pages {
  //------------------------- Box
  height: 45px;
  width: auto;
  padding-top: 8px;
  //------------------------- Positioning
  float: left;
}

.num-one,
.num-two,
.num-three,
.num-four,
.num-five {
  padding: 0 8px;
  display: inline-block;
}

.num-one,
.num-five {
  opacity: 0.5;
  transform: scale(0.8);
}

.num-three {
  //------------------------- Color & Background
  background-color: #64b5f6;
  color: #fff;
  //------------------------- Box
  height: 28px;
  border-radius: 8px;
  padding-bottom: 8px;
}

.isDisabled {
  color: #c1c1c1;

  h4 {
    color: #c1c1c1;
  }
}

// Animation -------------------------------------------------------------------

// Active ----------------------------------------------------------------------

// Hover -----------------------------------------------------------------------

// Layouts ---------------------------------------------------------------------
