
<!--<div class="debug">-->
  <!--<h2>{{'sliceStart is ' + this.sliceStart}}</h2>-->
<!--</div>-->


<!--<h1>{{this.dataList.length}}</h1>-->
<div style="overflow-x:auto; height: 505px;">
<table>
  <thead>
  <tr>
    <th class="w-200">Name</th>
    <th class="w-150">Phone</th>
    <th class="w-150">Email</th>
    <th class="w-250">Company</th>
    <th class="w-200">Date_Entry</th>
    <th class="w-150">Org_Num</th>
    <th class="w-200">Address_1</th>
    <th class="w-150">City</th>
    <th class="w-100">Zip</th>
    <th class="w-200">Geo</th>
    <th class="w-200">Pan</th>
    <th class="w-100">Pin</th>
    <th class="w-50">Id</th>
    <th class="w-100">Status</th>
    <th class="w-100">Fee</th>
    <th class="w-250">Guid</th>
    <th class="w-200">Date_Exit</th>
    <th class="w-200">Date_First</th>
    <th class="w-200">Date_Recent</th>
    <th class="w-100">Url</th>
  </tr>
  </thead>

  <tbody>
  <!--<ng-container *ngFor="let data of this.dataList | slice:this.sliceStart:this.sliceEnd; let i = index;">-->
  <ng-container
    *ngFor="let data of this.dataList | slice:this.sliceStart:this.sliceEnd">

  <!--<tr *ngIf="(i < this.selectedFilter)">-->
  <tr>
    <td class="w-200">{{ data.name }}</td>
    <td class="w-150">{{ data.phone }}</td>
    <td class="w-150">{{ data.email }}</td>
    <td class="w-250">{{ data.company }}</td>
    <td class="w-200">{{ data.date_entry }}</td>
    <td class="w-150">{{ data.org_num }}</td>
    <td class="w-200">{{ data.address_1 }}</td>
    <td class="w-150">{{ data.city }}</td>
    <td class="w-100">{{ data.zip }}</td>
    <td class="w-200">{{ data.geo }}</td>
    <td class="w-200">{{ data.pan }}</td>
    <td class="w-100">{{ data.pin }}</td>
    <td class="w-50">{{ data.id }}</td>
    <td class="w-100">{{ data.status }}</td>
    <td class="w-100">{{ data.fee }}</td>
    <td class="w-250">{{ data.guid }}</td>
    <td class="w-200">{{ data.date_exit }}</td>
    <td class="w-200">{{ data.date_first }}</td>
    <td class="w-200">{{ data.date_recent }}</td>
    <td class="w-100">{{ data.url }}</td>

  </tr>
  </ng-container>
  </tbody>
</table>
</div>

<div class="container_-_footer">
  <div class="container_-_footer_--_filter-rows">
    <!--<form action="">-->
      <label for="filterRows">Show Rows </label>
      <!--<select [(ngModel)]="this.selectedFilter" name="filterRows" id="filterRows">-->
      <select [(ngModel)]="this.selectedFilter" name="filterRows" id="filterRows" (ngModelChange)="this.filterChange(this.selectedFilter)">
        <option  *ngFor="let row of this.filterRow" [value]="row.value">{{row.value}}</option>
      </select>
    <!--</form>-->
  </div>

  <div class="container_-_footer_--_pagination">
    <div class="first-page" [class.isDisabled]="(this.currentPage <= 1)"
         (click)="(this.currentPage <= 1) ?$event.stopPropagation() :this.firstPage()">
      <div class="double-arrow-left">
        <h4>&#8963;</h4>
        <h4>&#8963;</h4>
      </div>

      <h3>First</h3>
    </div>

    <div class="previous-page" [class.isDisabled]="(this.currentPage <= 1)"
         (click)="(this.currentPage <= 1) ?$event.stopPropagation() :this.previousPage()">
      <div class="double-arrow-left">
        <h4>&#8963;</h4>
      </div>

      <h3>Previous</h3>
    </div>


    <div class="pages">
      <div class="num-one">
        <h3>
          {{ ((this.currentPage - 1) > 1) ?(this.currentPage - 2) :'' }}
        </h3>
      </div>
      <div class="num-two">
        <h3>
          {{ (this.currentPage > 1) ?(this.currentPage - 1) :'' }}
        </h3>
      </div>
      <div class="num-three">
        <h3>
          {{ this.currentPage }}
        </h3>
      </div>
      <div class="num-four">
        <h3>
          {{ ((this.currentPage + 1) <= this.numOfPages) ?(this.currentPage + 1) :'' }}
        </h3>
      </div>
      <div class="num-five">
        <h3>
          {{ ((this.currentPage + 2) <= this.numOfPages) ?(this.currentPage + 2) :'' }}
        </h3>
      </div>
    </div>

    <div class="next-page" [class.isDisabled]="(this.currentPage >= this.numOfPages)"
         (click)="(this.currentPage >= this.numOfPages) ?$event.stopPropagation() :this.nextPage()">
      <h3>Next</h3>

      <div class="arrow-right">
        <h4>&#8963;</h4>
      </div>
    </div>

    <div class="last-page" [class.isDisabled]="(this.currentPage >= this.numOfPages)"
         (click)="(this.currentPage >= this.numOfPages) ?$event.stopPropagation() :this.lastPage()">
      <h3>Last</h3>

      <div class="double-arrow-right">
        <h4>&#8963;</h4>
        <h4>&#8963;</h4>
      </div>
    </div>
  </div>
</div>




