
<div style="overflow-x:auto; height: 505px;">
  <app-table-shared [sliceStart]="this.sliceStart" [sliceEnd]="this.sliceEnd"></app-table-shared>
</div>

<div class="container_-_footer">
  <div class="container_-_footer_--_filter-rows">
    <!--<form action="">-->
      <label for="filterRows">Show Rows </label>
      <!--<select [(ngModel)]="this.selectedFilter" name="filterRows" id="filterRows">-->
      <select [(ngModel)]="this.selectedFilter" name="filterRows" id="filterRows" (ngModelChange)="this.filterChange(this.selectedFilter)">
        <option  *ngFor="let row of this.filterRow" [value]="row.value">{{row.value}}</option>
      </select>
    <!--</form>-->
  </div>

  <div class="container_-_footer_--_pagination">
    <div class="first-page" [class.isDisabled]="(this.currentPage <= 1)"
         (click)="(this.currentPage <= 1) ?$event.stopPropagation() :this.firstPage()">
      <div class="double-arrow-left">
        <h4>&#8963;</h4>
        <h4>&#8963;</h4>
      </div>

      <h3>First</h3>
    </div>

    <div class="previous-page" [class.isDisabled]="(this.currentPage <= 1)"
         (click)="(this.currentPage <= 1) ?$event.stopPropagation() :this.previousPage()">
      <div class="double-arrow-left">
        <h4>&#8963;</h4>
      </div>

      <h3>Previous</h3>
    </div>


    <div class="pages">
      <div class="num-one">
        <h3>
          {{ ((this.currentPage - 1) > 1) ?(this.currentPage - 2) :'' }}
        </h3>
      </div>
      <div class="num-two">
        <h3>
          {{ (this.currentPage > 1) ?(this.currentPage - 1) :'' }}
        </h3>
      </div>
      <div class="num-three">
        <h3>
          {{ this.currentPage }}
        </h3>
      </div>
      <div class="num-four">
        <h3>
          {{ ((this.currentPage + 1) <= this.numOfPages) ?(this.currentPage + 1) :'' }}
        </h3>
      </div>
      <div class="num-five">
        <h3>
          {{ ((this.currentPage + 2) <= this.numOfPages) ?(this.currentPage + 2) :'' }}
        </h3>
      </div>
    </div>

    <div class="next-page" [class.isDisabled]="(this.currentPage >= this.numOfPages)"
         (click)="(this.currentPage >= this.numOfPages) ?$event.stopPropagation() :this.nextPage()">
      <h3>Next</h3>

      <div class="arrow-right">
        <h4>&#8963;</h4>
      </div>
    </div>

    <div class="last-page" [class.isDisabled]="(this.currentPage >= this.numOfPages)"
         (click)="(this.currentPage >= this.numOfPages) ?$event.stopPropagation() :this.lastPage()">
      <h3>Last</h3>

      <div class="double-arrow-right">
        <h4>&#8963;</h4>
        <h4>&#8963;</h4>
      </div>
    </div>
  </div>
</div>




