
table {
  //margin: 15px;
  //height: 450px;
  //border-collapse: collapse;
  //overflow:auto !important;
}

thead {
//  height: 50px;
//  width: 500px;
//  background-color: yellowgreen;
}

td {
  border-bottom: 2px solid #E0E0E0;
}

th {
  //text-align: left;
  //border-bottom: 3px solid #2962FF;
}

th,td {
  //padding-left: 5px;
  //padding-right: 5px;
}

tbody {
  //overflow: auto;
  //width:100%;
  //height: 100%;
}







// Utils
.w-50 {
  min-width: 50px;
}

.w-100 {
  min-width: 100px;
}

.w-150 {
  min-width: 150px;
}

.w-200 {
  min-width: 200px;
}

.w-250 {
  min-width: 250px;
}


table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px 16px;
}

th {
  position: sticky;
  top: 0;
  background: #eee;
}



//table thead tr{
//  display:block;
//}

//table th,table td{
//  width:100px;//fixed width
//}
//
//
//table th{
//  width:100px;//fixed width
//}

//table  tbody{
//  display:block;
//  //height:200px;
//  overflow:auto;//set tbody to auto
//}


.container_-_footer {
  //background-color: #3d5afe;
  background: #ededed;
  width: 100%;
  height: 45px;
  display: block;
  padding: 8px 0 0 10px;
  //position: absolute;
  //top: 490px;
  //bottom: 0;
}

.container_-_footer_--_fiter-rows {
  select {
    width: 100px;
    border-radius: 10px;
  }
}
